@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap%27);
.body-container {
  margin: 0;
  padding: 0;
}

#dropdown-line {
  margin: 5px 40% 5px 40%;
}

nav {
  display: flex;
  align-items: center;
  border-top: 5px solid darkorange;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 15px 5px 15px;
  background-color: #fbf9f2;
  height: 50px;
}

#nav-entry {
  flex: 1;
  display: flex;
  /* flex-wrap: wrap; */
}

.nav-links {
  text-decoration: none;
  white-space: nowrap;
  font-family: "Inter";
  color: inherit;
}

#nav-links-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 10%;
}

#nav-logo {
  margin-right: 4%;
}

.nav-order-btn {
  background-color: darkorange;
  padding: 10px;
  border-radius: 20px;
  border: none;
  align-self: center;
  margin-left: 15px;
}

#nav-right {
  margin-left: auto;
  white-space: nowrap;
}

@media screen and (min-width: 710px) {
  #dropdown-container {
    display: none;
  }
}

@media screen and (max-width: 709px) {
  .nav-menu-icon {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    /* border: 3px solid darkorange; */
  }

  .nav-menu-burger-icon {
    width: 35px;
    height: 5px;
    background: darkorange;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }

  .nav-menu-burger-icon::before,
  .nav-menu-burger-icon::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 5px;
    background: darkorange;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }

  .nav-menu-burger-icon::before {
    transform: translateY(-10px);
  }

  .nav-menu-burger-icon::after {
    transform: translateY(10px);
  }

  #nav-links-container {
    display: none;
  }

  #nav-links-hamburger-container div {
    margin: 2%;
  }

  .nav-menu-icon.open .nav-menu-burger-icon {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .nav-menu-icon.open .nav-menu-burger-icon::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .nav-menu-icon.open .nav-menu-burger-icon::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  #nav-entry {
    display: none;
  }

  #nav-order-btn-dropdown {
    background-color: darkorange;
    padding: 10px;
    border-radius: 20px;
    border: none;
    align-self: center;
  }

  #nav-links-container-dropdown {
    display: none;
    background-color: #fbf9f290;
    padding: 5px 0 5% 0;
    text-align: center;
  }
}

/*Highlight CSS*/
.active {
  border-bottom: 5px solid darkorange;
  content: "";
  left: 0;
  bottom: -7px;
  text-decoration: none;
  color: inherit;
}
