html {
  font-family: "Inter", sans-serif;
}

.section_title {
  text-align: center;
  grid-column: 1/-1;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 97%;
  box-sizing: border-box;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3em;
  padding-bottom: 50px;
  max-height: 70%;
}
.card {
  background: #fbf9f2;
  display: grid;
  grid-template-rows: auto auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card_box {
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
}

.app_image {
  width: 100%;
  display: block;
  background-size: cover;
}

.main_image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

.card_title {
  font-weight: bolder;
  font-size: x-large;
}

.card_description {
  font-size: large;
}

.card_price {
  font-weight: bold;
  font-size: small;
}
