* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "infer";
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-top: 5px solid #fbc501;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 15px 5px 15px;
  background-color: #fbf9f2;
}

#nav-entry {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-links {
  flex: 1;
}

#nav-links-container {
  display: flex;
  flex: 1;
}

#nav-logo {
  margin-right: 4%;
}

#nav-order-btn {
  background-color: #fbc501;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-left: 25px;
}

#nav-right {
  margin-left: auto;
}
