* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  white-space: nowrap;
  /* font-family: "infer"; */
}

a:visited {
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  border-top: 5px solid darkorange;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 15px 5px 15px;
  background-color: #fbf9f2;
  height: 50px;
  margin-bottom: 10px;
}

#nav-entry {
  flex: 1;
  display: flex;
  /* flex-wrap: wrap; */
}

.nav-links {
  flex: 1 1 50px;
}

#nav-links-container {
  display: flex;
  flex: 1;

  flex-wrap: wrap;
  gap: 10%;
}

#nav-links-hamburger-container {
  display: none;
}

#nav-logo {
  margin-right: 4%;
}

#nav-order-btn {
  background-color: darkorange;
  padding: 10px;
  border-radius: 20px;
  border: none;
  align-self: center;
}

#nav-right {
  margin-left: auto;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  #nav-links-container {
    display: none;
  }
  #nav-links-hamburger-container {
    display: block;
    background-color: #fbf9f2;
    padding: 5px 0 5px 0;
    text-align: center;

    /* flex: 1; */
  }

  #nav-links-hamburger-container div {
    margin: 2%;
  }
}
