* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'infer';
   
}

nav {
    display: flex;
    align-items: center;
    border-top: 5px solid #fbc501;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);  
    padding: 5px 15px 5px 15px;

}

.nav-links {
    margin-right: 75px;
}

#nav-logo {
    margin-right: 75px
}

#nav-right {
margin-left: auto }

#order-btn {
    background-color: #fbc501;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 50px
}