h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

h3 {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

h4 {
    text-align: left;
    font-size: small;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

p {
	text-align: left;
	height: 75px;
    font-size: large;
    font-family: 'Inter', sans-serif;
}
.column {
    float: left;
    width: 28%;
    padding: 2.66%;
}

.card {
     background-color: #FBF9F2;
     box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}

.noodle {
    width: 100%;
    border-radius: 10px;
    height: 250px;
}

.desc {
    text-align: left;
    padding: 10px;
    overflow: auto;
}