.section_title {
  text-align: center;
  grid-column: 1/-1;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3em;
  padding-bottom: 50px;
  max-height: 70%;
  padding:10px;
}

