body, html{    
    font-family: Inter, sans-serif;
}

.xbutton:hover{
    color:#FAEBD7;

}

.xbutton{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
}

.orderButton{  
    border-radius: 35px;
    font-Size: 13px;
    border: none;
    color: rgb(4, 4, 63);
    padding: 7px 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    background-color:#FF9862;
}

.orderButton:hover{
    opacity: 1;
    color: #FAEBD7;
}

.orderModal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%  5%;
    width: 90%;
    position: sticky;
    box-shadow: 10px 10px 30px;
    background-color: #FFF5EE;
}

.panel{
    float: left;
    width: 50%;
    background-color: #FFF5EE;
}

.buttonSection {
    text-align: center;
    font-size: 18px;
    padding: 2px;
    padding-top: 7vw;
}

.pickup {
      padding: 13px 45px;
      border-radius: 25px;
      border-width: 0px;
      background-color: #FF9862;
      font-weight: bold;
      opacity: .8; 
    }

.pickup:hover{
    opacity: 1;
    color: #FFFFFF;
}

.delivery {
      padding: 13px 45px;
      margin-left: 10px;
      border-radius: 25px;
      border-width: 0px;
      background-color: #FF9862;
      font-weight: bold;
      opacity: .8;
    }

.delivery:hover{
    opacity: 1;
    color: #FFFFFF;
}

.location {
      padding: 30px;
      font-weight: bold;
      font-size: 13px;
      text-align: left;
      padding-top: 8vh;
      padding-bottom: 100px;
      padding-left: 10vw;
      position: relative;
    }

.locationInfo {
      padding: 0px;
      color: #808080;
      border-width: 0px;
      background-color: transparent;
      text-align: left;
      border-bottom: 1px solid;
      padding-top: 1vh;
      padding-right: 5vw;
      outline: none;
    }

 .useMyLocation{
    font-size: 13px;
    text-align: left;
    position: relative;
    padding-bottom: 5vh;
    font-weight: 300;
    color:#191970; 
    outline: none;
    border-width: 0px;
    background-color: transparent;
    padding-top: 10vh;
}

.useMyLocation:hover{
    font-weight: 600;
    text-decoration: underline;
}