    .card {
      background: #fbf9f2;
      display: grid;
      grid-template-rows: auto auto;
      margin: 25px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
    .card-box {
      padding: 15px;
      display: grid;
      grid-template-rows: 1fr 1fr 0.5fr;
    }
    
    .card-img {
      width: 100%;
      display: block;
      background-size: cover;
    }
      
    .card-title {
      font-weight: bolder;
      font-size: x-large;
    }
    
    .card-description{
      font-size: large;
    }
    
    .card-price {
      font-weight: bold;
      font-size: small;
    }