    .Card {
      background: #fbf9f2;
      display: grid;
      grid-template-rows: auto auto;
      max-width: 350px;
      margin: 25px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
    .CardBox {
      padding: 15px;
      display: grid;
      grid-template-rows: 1fr 1fr 0.5fr;
    }
    
    .CardImg {
      width: 100%;
      display: block;
      background-size: cover;
    }
  
    
    .CardTitle {
      font-weight: bolder;
      font-size: x-large;
    }
    
    .CardDescription{
      font-size: large;
    }
    
    .CardPrice {
      font-weight: bold;
      font-size: small;
    }